@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
{
box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #24252A;
}

li, a, button {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 16px;
color: #ECF0F1
text-decoration: none;
}

.logo {
cursor: pointer;

}

.nav_links{
list-style: none;
}

.nav_links {
display: inline-block;
padding: 0px 20px;

}

.nav_links li a {
transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
color: #0088a9;
}

button {
padding: 9px 25px;
background-color: rgba(0, 136, 169, 1);
border: none;
border-radius: 50px;
cursor:pointer;
transition: all 0.3s ease 0s;
}

button:hover {
background-color: rgba(0, 136, 169, 0.8);

}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;

}

.inner-footer {
margin: 0;
padding: 0;
background-color: #272727;

}

.social-links {
display: flex;
}

.social-links ul {
padding: 10px;
display: flex;
width: 300px;
height: 30px;
margin: auto;
}

.social-items {
list-style: none;
}

.social-items a{
padding: 10px 20px;
font-size: 35px;
color: #6cccc6;
transition: all .25s;
}

.social-items a:hover{
color: #54a339e;
}

.quick-links {
display: flex;
width: 560px;
height: 70;
margin: auto;
}

.quick-links ul {
display: flex;
}

.quick-items{
list-style: none;
}

.quick-items a{
text-decoration: none;
padding: 0px 15px;
font-size: 20spx;
color: white;
transition: all 0.25s;
}

.quick-items a:hover {
color: #6cccc6;
}

outer-footer{
padding: 10px;
text-align: center;
font-size: 18px;

}



.navbar{
background-color: #FDFCDC;
}

.navbar-brand{color:black;
}


.navbar-expand-lg .navbar-nav .nav-link{
    padding:2rem 1.2rem;
    font-size: 1.4rem;
    position:relative;
    color:black;
 }
  .navbar-expand-lg .navbar-nav .nav-link:hover{
    border-top: 4px solid #D4E6B5;
    color:#D4E6B5;
  }

  .navbar-expand-lg .navbar-nav .nav-link:active{
    border-top: 4px solid #D4E6B5;
    color: #D4E6B5;

  }




.box-two{
    background-image: url("images/pool.jpg");
}
.box-three{
    background-image: url("images/gymeqpui.jpg");
}
.box-four{
    background-image: url("images/yogaclass.jpg");
}
.box-five{
    background-image: url("images/sauna.jpg");
}

.container{

}
.slide-show-render-full .slide-image {
    height: 100%;
    max-height: 150px;
    max-width: 1100px;
}

.slide-show-render-full .slide-content {
    height: 150px;
    width: 1100px;
}

.slide-show-render .slides {
    height: 150px;
}

.slide-show-render.slide-show {
height: 150px;
margin: 0 0 20px -60px;
}

.slide-show {
width: 1100px;
}

.reveal-text-on-image {
  width: 200px;
  height: 200px;
  margin: 8px;
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}

.reveal-text-on-image:before,
.reveal-text-on-image:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transition: 0.3s;
}

.reveal-text-on-image:after {
  background: #fff;
  transform: translateY(100%);
  content: attr(data-text);
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}

.reveal-text-on-image:hover:before {
  transform: translateY(-50%); /*try different values*/
}

.reveal-text-on-image.slide-down:after {
  transform: translateY(-100%);
}
.reveal-text-on-image.slide-down:hover:before {
  transform: translateY(50%); /*try different values*/
}

.reveal-text-on-image.slide-left:after {
  transform: translate(100%, 0);
}
.reveal-text-on-image.slide-left:hover:before {
  transform: translate(-50%, 0); /*try different values*/
}

.reveal-text-on-image.slide-right:after {
  transform: translate(-100%, 0);
}
.reveal-text-on-image.slide-right:hover:before {
  transform: translate(50%, 0); /*try different values*/
}

.reveal-text-on-image:hover:after {
  transform: translateY(0);
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.5);
}


