{% if current_user.is_authenticated %}
    {% extends "logged_layout.html" %}
{%else%}
    {% extends "layout.html" %}
{% endif %}

{{ url_for('templates', filename='activities.html') }}

{% block title %}ActivitiesBook a Class{% endblock %}

{% block body_content %}
<body style="background-color:#CAF0F8;">
<br>
<br>
<br>
<div class="row justify-content-center">
        <div class="col-md-8 col-12">
            <h2 style="color:black;">Our Daily Classes</h2>
                <p>We offer a wide range of activities every day for all ages and abilities.</p>
                <p>Our instructors are highly qualified and experienced professionals ready to
                    help you achieve your goals.</p>
        </div>
      </div>
<div>
  <table class="table table-striped" style="width:70%; margin-left:15%; margin-right:15%;">
         <thead>
            <tr>
               <th>Type</th>
               <th>Description</th>
               <th>Duration</th>
               <th>Instructor</th>
            </tr>
         </thead>

         <tbody>
            {% for Activity in activities %}
               <tr>
                  <td>{{ Activity.activity_type }}</td>
                  <td>{{ Activity.activity_description }}</td>
                  <td>{{ Activity.duration }}</td>
                  <td>{{ Activity.instructor_name }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
</div>
<br>
{% if current_user.is_authenticated %}

{%else%}
<div class="border-top pt-3 ps-3">
        <small class="">
            <strong>Login or Register now to book a Class. <a class="ml-2" href="{{ url_for('login') }}">Register here</strong></a>
        </small>
    </div>
{% endif %}
    <div>
        <img style="position:relative; left:0px; right:0px; width:100%;" src="static/images/longimage.jpg" alt="spinning class">
    </div>
<br>
<br>
</body>

{% endblock %}