{% extends "layout.html" %}

{{ url_for('templates', filename='booking.html') }}

{% block title %}Booking{% endblock %}

{% block body_content %}

<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
</head>
<div class="text-center">

<div class='form'>

<main class="form-booking">
  <form method="POST" action="{{ url_for('booking') }}">
    <h1 class="h3 mb-3 fw-normal">Book an Activity</h1>

    <div class="form-floating">
              <br>
            <dl>
                <dd>
                        <br>
                    <div class="form-floating">
                      {{ form.email_address.label }} {{ form.email_address }}
                        <br>
                    </div>
                    <br>
                    <div class="form-floating">
                      {{ form.date.label }} {{ form.date }}
                        <br>
                    </div>
                    <br>
                    <div class="form-floating">
                      {{ form.activity_type.label }} {{ form.activity_type }}
                        <br>
                    </div>
                    <br>
                    <div class="form-floating">
                        <br>
                    </div>
                    <br>
                    <div class="form-floating">
                    {{ form.timeslot.label }} {{ form.timeslot }}
                        <br>
                    </div>

                    {{ message }}
                </dd>
            </dl>
<!--            <p><input type=submit value=Book>-->

<!--    <div class="checkbox mb-3">-->
<!--      <label>-->
<!--        <input type="checkbox" value="remember-me"> Remember me-->
<!--      </label>-->
<!--    </div>-->
<!--    <button class="btn btn-primary" type="submit">Book</button>-->
    <div class="border-top pt-3">
        <small class="text-muted">
            Having difficulty booking? <a class="ml-2" href="{{ url_for('contact') }}">Contact Us</a>
        </small>
    </div>


    {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</main>
</div>

{% endblock %}
