{% extends "layout.html" %}

{{ url_for('templates', filename='my_bookings.html') }}

{% block title %}MyBookings{% endblock %}

{% block body_content %}
<h1>My Bookings</h1>
<h2>Current bookings</h2>
<p>Any current bookings are shown in the table below. </p>
<input type="hidden" id="username" name="username" value={{ username }}>
<table>
  <thead>
    <tr>
        <th>Date</th>
        <th>Class</th>
        <th>Timeslot</th>
    </tr>
    </thead>
    <tbody>
     {% for BookedActivity in current  %}
            <tr>
                <td>{{ BookedActivity.date }}</td>
                <td>{{ BookedActivity.activity_type }}</td>
                <td>{{ BookedActivity.timeslot }}</td>
            </tr>
            {# endif #}
        {% endfor %}
    </tbody>
</table>
<h2>Past bookings</h2>
<p>The table below displays any previous classes you have attended.</p>
<table>
  <thead>
    <tr>
        <th>Date</th>
        <th>Class</th>
        <th>Timeslot</th>
    </tr>
    </thead>
    <tbody>
     {% for BookActivity in past  %}
            <tr>
                <td>{{ BookActivity.date }}</td>
                <td>{{ BookActivity.activity_type }}</td>
                <td>{{ BookActivity.timeslot }}</td>
            </tr>
            {# endif #}
        {% endfor %}
    </tbody>
</table>
</div>
<br>
    <a href="{{ url_for('booking') }}">
   <button>Book</button>
</a>
<div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{{ url_for('dashboard') }}">Dashboard</a>
        </small>
</div>

{% endblock %}