{% extends "layout.html" %}

{{ url_for('templates', filename='Password_reset.html') }}

{% block title %}Password_reset{% endblock %}

{% block body_content %}

<form method="POST" action="{{ url_for('password_reset') }}">
<div class="container form-container">
<form class="needs-validation" novalidate>

  <div class="form-row">
     <div class="col-md-4 mb-3">
      {{ form.email.label }} {{ form.email }}
        <div class="valid-feedback">
        Looks good!
      </div>
    <div class="col-md-4 mb-3">
      {{ form.new_password.label }} {{ form.new_password }}
        <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      {{ form.confirm_new_password.label }} {{ form.confirm_new_password }}
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
       {{ form.submit(class="btn btn-primary") }}
  </form>
    {% endblock %}