{% extends "layout.html" %}

{{ url_for('templates', filename='policy .html') }}

{% block title %}Policy{% endblock %}
{% block body_content %}
<h1>The finer details of our policies </h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Club rules
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <p>All members and guests must comply with these policies. These are incorporated into a Member’s Contract with
        us, and compliance with these policies is important both to maintain the standards and to enable Members to get
        full enjoyment from their Membership.
        Any person who does not comply with these policies may be ejected from, or denied access, or may have their
        Membership terminated if the non-compliance is serious.
        Your safety and that of our people, is our highest priority.
        As a result of COVID-19, things will operate a little differently around here and we are continuously monitoring
        the situation to make any necessary changes. As such, the policies will change slightly. If in doubt, please
        ask a member of our team.
        We reserve the right to make reasonable amendments to these policies, at any time. If we do this, we will give
        Members reasonable advance notice by placing the new policies on a notice board.
        Words and phrases in these policies have the same meanings as given in our Membership Terms & Conditions, unless
        specified otherwise.</p>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Membership
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Acceptance of an application for Membership is at our absolute discretion (although we will exercise our
        discretion reasonably, and in compliance with applicable laws).
        We offer different types of Memberships and these may change from time to time.
        Each category of Membership has different restrictions, conditions, and benefits. Another category of Membership
        may be of interest to you if your requirements or circumstances change.</p>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Guests
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Members may bring guests to the centre provided according to their membership status.
        Members must accompany their guest at all times, and the Member who brings the guest remains responsible for their
        guest’s conduct whilst they are at the centre. The Member may not leave the centre prior to their guest’s departure.
        A Member who has “frozen” his/her Membership will not be allowed access to the centre (including as a guest).
        Members must ensure that their guests comply with these policies.
        At all times, guests must complete a Health Commitment Statement as requested by us.</p>      </div>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Behaviour and dress standards
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>You should conduct yourself in a quiet and well-mannered fashion when in or about the centre, and in a manner that
        will not disturb or impair the use and enjoyment of the centre by any other person. In particular you may not use
        foul, loud, or abusive language, nor will you behave in a threatening manner, nor will you molest, or harass, other
        Members, guests, or staff members.</p>
        <p>You may not bring, use, or be under the influence of illegal drugs in any part of the centre. You may not
        bring any intoxicating liquor onto the premises or be drunk in the premises.
        You must follow all the guidelines on COVID-19 secure measures when on the premises. Smoking is prohibited in any
        area of the club including the use of e-cigarettes or similar devices.</p>
        <p>We may terminate your Membership (if applicable) and may refuse you entry, or eject you from the premises, if you
        commit a serious or repeated breach of these Rules, your Membership contract (if applicable), or if you engage in
        any other serious misconduct.</p>
        <p>Members and their guests and members of staff should at all times display mutual respect for each other.
        Complaints should be communicated privately to a member, or in writing through the suggestion box provided in the
        centre, or by post to the Manager.</p>
        <p>You must be dressed in suitable attire at all times, and appropriate exercise clothing is required whilst
        exercising. Guidance as to suitable attire may be obtained from the Manager who may, at his/her
        discretion, require you to leave the premises or an area of the premises, if your attire is not considered
        suitable.</p>
        <p>Members are respectfully requested to store coats and rucksacks in the lockers provided.</p>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        General
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Whilst in our club, members will be need to remain a safe distance apart from others at all times.</p>
        <p>Opening times for the centre will be prominently displayed on our website.</p>
        <p>Pool, spa, sauna and steam facilities will close 15 minutes before the advertised closing time to allow members time
        to change. All other facilities (including the gym floor) will remain open until the advertised closing time.
        You may not bring pets (other than guide or assistance dogs) onto the Club premises.</p>
        <p>However, where reasonably possible, we will ask you to sign a use of image rights form (a “ photography reproduction
        authorisation form”) to consent to this usage.</p>
        <p>You must not consume any food or drink in the centre that you have brought in from outside.</p>
        <p>We reserve the right to show potential Members and other individuals the facilities of a Club on a trial basis.</p>
    </div>
  </div>
</div>
      <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Rules
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>All members and guests visiting the centre must comply with these policies. These policies are incorporated
        into a Member’s Contract with us, and compliance with these policies
        is important both to maintain the standards at centre and to enable Members to get full enjoyment from their
        Membership.</p>
        <p>Any person who does not comply with these policies may be ejected from, or denied access, or may have their
        Membership terminated if the non-compliance is serious.</p>
        <p>Your safety and that of our employees, are our highest priority.</p>
        <p>As a result of COVID-19, things will operate a little differently around here and we are continuously monitoring the
            situation to make any necessary changes. If in doubt, please ask a member of our team.</p>
        <p>Any measures in the additional club and operational rules (on display in various parts of the club) take precedence
        over any others for the time being and they are in place to provide a safe environment for all; for training right,
        in line with best practice for social distancing, hygiene, cleanliness, club operations and team & member safety.
        We reserve the right to make reasonable amendments to these policies, at any time. If we do this, we will give Members
        reasonable advance notice by placing the new policies on a notice board at the centre.</p>
        Words and phrases in these policies have the same meanings as given in our Membership Terms & Conditions, unless specified otherwise.</p>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Bookings and arrivals
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Advance bookings are needed to secure places for all our classes. If you have not booked, Reception will be able
        to let you know if spaces are available.</p>
        <p>Before starting a class, you’ll need to swipe in at Reception.</p>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        Lockers
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Lockers are made available subject to availability. As a result of COVID-19, there will be limited lockers
        available to ensure safe, social distancing is adhered to.
        does not undertake that use of a locker will guarantee that no theft of or damage to your property will occur.
        We will not accept any liability in relation to locker thefts unless they result from our negligence. You should check
        that your household contents or other insurance policy protects you against any risk of theft.
        Lockers may only be used for the purposes of keeping gym kit, toiletries, and the clothing that you were wearing
        when you came to a Club.</p>
    </div>
  </div>
</div>
   <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        Entrance and exists
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>You must use the main entrance when entering or leaving the premises.</p>
        <p>Fire exits, which are clearly marked, are there in the interests of safety and you must not interfere with fire
        doors for any reason. You must read the health & safety notices posted outside any equipment or facility rooms in
        the centre and comply with their recommendations.
        You must comply with any reasonable requests made by the members of staff in relation to matters of health and
        safety.</p>
        <p>Any COVID-19 secure messages related to Health & Safety in and around the club will take precedence over other
        measures.</p>
    </div>
  </div>
</div>
   <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        Car parking
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Our car park may only be used by Members, guests, and visitors while they are on the centre premises.
        You may not leave your car in the car park at any other time (for example, you may not leave it there following
        a visit while you go shopping elsewhere).</p>
        <p>No unauthorised parking is permitted on our premises. Where car parking spaces are designated for use by Members,
        cars must be parked properly in such spaces or they will be clamped and a fee may be charged (where applicable)
        for removal of the clamp. You must be a Blue Badge holder to park in the accessible bays in our car parks.</p>
    </div>
  </div>
</div>
   <div class="accordion-item">
    <h2 class="accordion-header" id="headingEleven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        Health and safety
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>You must complete a Health Commitment Statement as requested by us before using our fitness facilities.
        You should seek instruction before using unfamiliar equipment.
        Appropriate clean exercise clothing and shoes must be worn whilst exercising.
        Gymnasium equipment must not be used for longer than 15 minutes during busy periods.
        You are asked to wipe down gymnasium equipment after use.
        You are asked to arrive at the gymnasium five (5) minutes prior to any personal training or induction appointments.
        We reserve the right to refuse to re-book an appointment for you if you repeatedly cancel (with less than 24 hours’
        notice) or fail to keep an appointment for services and/or exercise programmes.
        You may not use the gymnasium while under the influence of alcohol, anticoagulants, antihistamines, beta-blockers,
        narcotics, tranquilizers or any medication or other substance which may affect your ability to exercise safely.</p>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwelve">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
        Group exercise classes
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>You must pre-book classes to ensure your participation in them.
        If you can no longer attend a pre-booked session, you must cancel your booking online via our app or website or
        by calling the centre. If you are cancelling within 30 minutes of the class starting, you cannot cancel online
        and must cancel by calling the centre. If you book a class and fail to attend without cancelling more than 3
        times in any 30 day period then your class booking rights will be put on hold for a week.
        Session timetables and instructors are subject to change from time to time without notice.
        In order to avoid disturbing sessions, you are requested to arrive in good time. Entrance to classes after the
        class start time will be refused. Any spaces available at the start time will be offered to those present and
        waiting.
        An instructor may, at any time, ask you to leave a class if you are risking the safety or enjoyment of others.</p>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThirteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        Swimming pool and spa area
      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <p>For reasons of health, safety and hygiene you must:</p>
      <ul>
          <li>(a) obey the instructions of our lifeguards;</li>
          <li>(b) always shower before entering the sauna, steam room, jacuzzi or swimming pool;</li>
          <li>(c) not consume, store, or bring into the changing rooms or swimming pool area, any food or drink or any kind
            of glass container;</li>
          <li>(d) only shave in the wash basins provided;</li>
          <li>(e) not attempt to dry clothes or towels in the sauna;</li>
          <li>(f) not bring sauna oils or essences, cosmetic products, newspapers/magazines/books or other flammable
            materials into the sauna as these constitute a serious fire hazard;</li>
          <li>(g) not bring oils or essences to the steam room either as pouring them on the steam outlet will create a
            burn hazard.</li>
      </ul>

      <p>Management reserves the right to limit you to 20 minutes in the swimming pool if it is busy.</p>
      <p>You must: (a) wear long hair tied up, or in a swimming cap whilst in the swimming pool; (b) not run around, jump
      or dive into the swimming pool; (c) comply with any swimming direction posted in the swimming pool area; (d)
      wear appropriate swimwear only. Swimwear that covers large areas of the body (including burkinis and full body
      swimsuits) is permitted provided the safety of the swimmer is not compromised.
      No balls, floats, or inflatables are permitted in the swimming pool area other than those provided by a Club.
      Buoyancy aids are permitted.</p>
      <p>The swimming pool areas may from time to time be reserved for adults only, swimmers only, or swimming lessons.
      Prior notice will be displayed on teh centre's notice boards.
      Heads should never be submerged in the jacuzzi.</p>
      <p>You may not use the sauna or steam rooms while under the influence of alcohol, anticoagulants, antihistamines,
      beta-blockers, narcotics, or tranquillisers. If you have high or low blood pressure, heart disease, cardiac
      irregularities, asthma and/or diabetes, or if you are pregnant you should consult your doctor prior to using our Club
          facilities. You should use the steam room, sauna, swimming pool and jacuzzi (where applicable) in moderation
      and under medical advice.
      </p>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFourteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
        COVID-19 Additional measures – Swimming pool and spa
      </button>
    </h2>
    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p><ol>
              <li>Family swim times will be from 9-6pm in selected clubs only with separate children’s pools.</li>
              <li>We will implement pool capacities and wider lanes.</li>
              <li>No overtaking in lane swimming.</li>
              <li>Be mindful of the stroke you are doing in the pool to ensure social distancing at all times.</li>
              <li>There will be reduced bather loads for all pools including spa pools to maintain social distancing.
              This will be displayed in the pool area.</li>
              <li>Directional signage and/or one way systems must be followed at all times.</li>
      </ol></p>
    </div>
  </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFifteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
        COVID-19 Additional measures – Swimming pool and spa
      </button>
    </h2>
    <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <p>You must respect the rights of other members when taking photos or video in other areas of the club by not
      intentionally taking photos or videos of others. You will be requested to delete them if challenged.
      If we believe that you may have taken a photo or video footage in a restricted area or have concerns with you taking
      photo or video footage elsewhere in the club, we may ask you to show us the images taken and ask you to delete
      them if appropriate.</p>
      <p>We reserve the right to use any individual or group photographs or movie shots of you for press or promotional
      purposes.</p>
    </div>
  </div>
</div>

{% endblock %}
